{% extends 'assets/default.html' %}
{% block blk_top_ui %}
{% comment %} {% include 'assets/search.html' %}
{% include 'assets/extra_bottuns.html' %} {% endcomment %}
<ul class="content">
    <li>search ui</li>
    <li>extra buttons</li>
</ul>

{% endblock blk_top_ui%}

{% block blk_content %}
{% if asset_list %}
<table class="content">
    <tr>
        <th>asset code</th>
        <th>group name</th>
        <th>idc name</th>
        <th>product name</th>
    <tr>
    {% for asset in asset_list %}
    <tr>
        <td>{{ asset.asset_code }}</td>
        <td>{{ asset.group_name }}</td>
        <td>{{ asset.idc_name }}</td>
        <td>{{ asset.product_name }}</td>
    </tr>
    {% endfor %}
{% else %}
<p>관리 중인 자산 없음</p>
{% endif %}
{% endblock blk_content %}