{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href='{% static "assets/body.css" %}'>
        <link rel="stylesheet" href='{% static "assets/sidebar.css" %}'>
        <link rel="stylesheet" href='{% static "assets/contents.css" %}'>
        {% block blk_title %}{% endblock blk_title %}
    </head>
    <body>
        {% include "assets/sidebar.html" %}
        <section class="content">
        {% block blk_top_ui %}{% endblock blk_top_ui %}
        {% block blk_content %}{% endblock blk_content %}
        </section>
    </body>
</html>

