sidebar {
    position: fixed;
    background-color: grey;
    height: 100%;
    width: 200px;
}
sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
sidebar ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}